body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 30, 0);
}

/* ========================= */
/* Mega Pokémon */
/* ========================= */

.mega {
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #32cd32, #1e90ff, #ff69b4, #ffd700) 1;
}




/* ========================= */
/* Gigantamax Pokémon */
/* ========================= */

.gigantamax {
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #ff69b4, #ff1493, #ffe4e1) 1;
}



.pokemon {
    max-height: 150px; /*Altura para mostrar só a imagem e nome*/
    overflow: hidden; /*Esconde o resto*/
    transition: max-width 0.6s ease-in-out, box-shadow 0.3s ease; /*Animação pra crescer*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px; /*Borda arredondada*/
    position: relative;
    cursor: pointer; /*Mostra que é clicavel*/
    --cor1: #ccc;
    --cor2: var(--cor1);
    --text: #000;

    background: linear-gradient(90deg, var(--cor1) 50%, var(--cor2) 50%);
    color: var(--text);
}

.pokemon:hover{
    max-height: 1000px; /*Tamanho grande para aparecer tudo*/
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); /*Sombra*/
    z-index: 10;/*Garante que cresça e fique em cima dos outros*/
}

.pokemon p, .pokemon label, .pokemon .form-buttons, .pokemon .descricao{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.pokemon:hover p, .pokemon:hover label, .pokemon:hover .form-buttons, .pokemon:hover .descricao{
    opacity: 1;
    transition-delay: 0.2s; /*Revela o texto só quando o card abrir*/
}

.pokemon input[type="radio"]{
    display: none;
}



.normal   { --cor1: #e2e2e2; }
.fire     { --cor1: #ff6961; }
.water    { --cor1: #29abe2; }
.grass    { --cor1: #77dd77; }
.electric { --cor1: #ffff39; }
.ice      { --cor1: #77fff8; }
.ground   { --cor1: #b89b54; }
.flying   { --cor1: #cfe8ffe0; }
.psychic  { --cor1: #cd6fff; }
.bug      { --cor1: #bdd314; }
.steel    { --cor1: #a7a7a7; }
.fairy    { --cor1: #ff80ea; }

.fighting,
.poison,
.rock,
.dragon,
.dark {
    --text: #fff;
}

.fighting { --cor1: #5f1916; }
.poison   { --cor1: #7500a3; }
.rock     { --cor1: #5e3b13; }
.dragon   { --cor1: #713bd4; }
.dark     { --cor1: #424242; }
.ghost    { --cor1: #9e84b6; }

.type2-normal   { --cor2: #e2e2e2; }
.type2-fire     { --cor2: #ff6961; }
.type2-water    { --cor2: #29abe2; }
.type2-grass    { --cor2: #77dd77; }
.type2-electric { --cor2: #ffff39; }
.type2-ice      { --cor2: #77fff8; }
.type2-fighting { --cor2: #5f1916; }
.type2-poison   { --cor2: #7500a3; }
.type2-ground   { --cor2: #b89b54; }
.type2-flying   { --cor2: #cfe8ffe0; }
.type2-psychic  { --cor2: #cd6fff; }
.type2-bug      { --cor2: #bdd314; }
.type2-rock     { --cor2: #5e3b13; }
.type2-ghost    { --cor2: #9e84b6; }
.type2-dragon   { --cor2: #713bd4; }
.type2-dark     { --cor2: #424242; }
.type2-steel    { --cor2: #a7a7a7; }
.type2-fairy    { --cor2: #ff80ea; }

[class*="type2-dark"],
[class*="type2-dragon"],
[class*="type2-rock"],
[class*="type2-poison"],
[class*="type2-fighting"] {
    --text: #fff;
}

.flying.type2-dragon, .dragon.type2-flying {
    --text: red;
}


/*Tatsugiri*/
/* Esconder todas as descrições por padrão */
#desc-curly, #desc-droopy, #desc-stretchy {
    display: none;
}

/* Mostrar as descrições de acordo com o tipo de forma selecionado */
#curly-form:checked ~ #tatsugiri-img {
    background-image: url('tatsugiri_laranja.png');
}

#droopy-form:checked ~ #tatsugiri-img {
    background-image: url('tatsugiri_rosa.png');
}

#stretchy-form:checked ~ #tatsugiri-img {
    background-image: url('tatsugiri_amarelo.png');
}

#tatsugiri-desc {
    text-align: center; /* Centraliza o texto da descrição */
}

#tatsugiri-img {
    display: flex; /* Usamos flexbox para facilitar o alinhamento */
    justify-content: center; /* Centraliza as imagens horizontalmente */
    align-items: center; /* Alinha as imagens verticalmente */
    margin-top: 20px; /* Adiciona um pouco de espaçamento acima da imagem */
}

#tatsugiri-img img {
    display: none; /* Esconde todas as imagens por padrão */
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

#curly-form:checked ~ #tatsugiri-img .curly {
    display: block; /* Exibe a forma Curly quando selecionada */
    background-image: url('tatsugiri_laranja.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#droopy-form:checked ~ #tatsugiri-img .droopy {
    display: block; /* Exibe a forma Droopy quando selecionada */
    background-image: url('tatsugiri_rosa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#stretchy-form:checked ~ #tatsugiri-img .stretchy {
    display: block; /* Exibe a forma Stretchy quando selecionada */
    background-image: url('tatsugiri_amarelo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Exibindo as descrições dependendo da seleção do tipo */
#curly-form:checked ~ #tatsugiri-desc #desc-curly {
    display: block;
}

#droopy-form:checked ~ #tatsugiri-desc #desc-droopy {
    display: block;
}

#stretchy-form:checked ~ #tatsugiri-desc #desc-stretchy {
    display: block;
}

/* Esconder as outras descrições */
#desc-curly, #desc-droopy, #desc-stretchy {
    display: none;
}

/*Basculegion*/
/* Esconder descrições */
#desc-men, #desc-women {
    display: none;
}

/* Esconder imagens */
#basculegion-img img {
    display: none;
    width: 150px;
    height: auto;
}

/* Mostrar imagem */
#men-form:checked ~ #basculegion-img .men {
    display: block;
}

#women-form:checked ~ #basculegion-img .women {
    display: block;
}

/* Mostrar descrição */
#men-form:checked ~ #basculegion-desc #desc-men {
    display: block;
}

#women-form:checked ~ #basculegion-desc #desc-women {
    display: block;
}

/*Venusaur*/
/* Esconder descrições */
#desc-venu, #desc-megavenu, #desc-maxvenu {
    display: none;
}

/* Esconder imagens */
#venusaur-img img {
    display: none;
    width: 150px;
    height: auto;
}

/* Mostrar imagem */
#venu-form:checked ~ .pkm-header #venusaur-img .venu {
    display: block;
}

#megavenu-form:checked ~ .pkm-header #venusaur-img .megavenu {
    display: block;
}

#maxvenu-form:checked ~ .pkm-header #venusaur-img .maxvenu {
    display: block;
}

/* Mostrar descrição */
#venu-form:checked ~ #venusaur-desc #desc-venu {
    display: block;
}

#megavenu-form:checked ~ #venusaur-desc #desc-megavenu {
    display: block;
}

#maxvenu-form:checked ~ #venusaur-desc #desc-maxvenu {
    display: block;
}

/*Charizard*/
/* Esconder descrições */
#desc-zard, #desc-megazardx, #desc-megazardy, #desc-maxzard {
    display: none;
}

/* Esconder imagens */
#charizard-img img {
    display: none;
    width: 150px;
    height: auto;
}

/* Mostrar imagem */
#zard-form:checked ~ .pkm-header #charizard-img .zard {
    display: block;
}

#megazardx-form:checked ~ .pkm-header #charizard-img .megazardx {
    display: block;
}

#megazardy-form:checked ~ .pkm-header #charizard-img .megazardy {
    display: block;
}

#maxzard-form:checked ~ .pkm-header #charizard-img .maxzard {
    display: block;
}

/* Mostrar descrição*/
#zard-form:checked ~ #charizard-desc #desc-zard {
    display: block;
}

#megazardx-form:checked ~ #charizard-desc #desc-megazardx {
    display: block;
}

#megazardy-form:checked ~ #charizard-desc #desc-megazardy {
    display: block;
}

#maxzard-form:checked ~ #charizard-desc #desc-maxzard {
    display: block;
}

/* Restante do código existente */
header {
    background-color: aqua;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: black;
}

main {
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.pokedex-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

li {
    text-align: center;
    border: 1px solid #c01f9f;
    padding: 10px;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto; 
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: azure;
}

h2 {
    margin: 5px 0;
}

.descricao {
    font-size: 0.9em;
}
